head
  meta content="IE=edge" http-equiv="X-UA-Compatible"
  meta charset="utf-8"
  meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
  meta http-equiv="X-UA-Compatible" content="IE=edge"
  meta name="description" content=current_page.data.description
  meta name="keywords" content=current_page.data.keywords
  meta name="author" content="onlamp.ru"

  /Use title if it's in the page YAML frontmatter -->
  title
    - if  current_page.data.title==config[:title]
      = current_page.data.title
    -else
      = current_page.data.title+" | " + config[:title]

  = stylesheet_link_tag :app

  link rel="shortcut icon" href="#{config[:path]}/favicon.ico" type="image/x-icon"
  link rel="icon" href="#{config[:path]}/favicon.png" type="image/png"
  link rel="icon" sizes="32x32" href="#{config[:path]}/favicon-32.png" type="image/png"
  link rel="icon" sizes="64x64" href="#{config[:path]}/favicon-64.png" type="image/png"
  link rel="icon" sizes="96x96" href="#{config[:path]}/favicon-96.png" type="image/png"