/! Navigation
nav.navbar.navbar-default role="navigation"
  .container
    /! Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      a.navbar-brand.page-scroll href="#{config[:site_url]}/"
        =config[:title]