body {
  &>.container {
    .json {
      border-left: 2px solid $btn-default-border;
    }

    .csv textarea, .json textarea {
      height: 400px;
    }

    .fileinput-button input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 15px;
      width: 99px;
      height: 30px;
    }
  }
}
.footer {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  .container .text-muted {
    margin: 20px 0;
  }
}