---
title: 'Convert CSV to JSON'
description: 'Convert your CSV formatted data to JSON or JSONP. Copy/paste or upload your CSV file to convert it to JSON.'
keywords: 'convert, csv, json'
---

.container ng-app="csv2json" ng-controller="ConvertController"
  .row
    .col-xs-6
      h1.text-success.text-right
        strong
          'CSV
        span.glyphicon.glyphicon-log-in.hidden-xs
    .col-xs-6
      h1.text-muted
        span.glyphicon.glyphicon-log-out.hidden-xs
        '
        strong
          'JSON
  .row
    .col-sm-6.csv
      .row
        .col-sm-12
          span.btn.btn-sm.btn-success.fileinput-button
            i.glyphicon.glyphicon-upload
            '
            ' Select a file
            input type="file" on-read-file="showContent($fileContent)" style=""
      br
      .row
        .col-sm-6
          .input-group
            .input-group-btn
              label.btn.btn-success.btn-sm ng-model="csv.checked_separators[$index]" ng-repeat='s in csv_separators' uib-btn-checkbox=''
                '{{s[0]}}
            input.input-sm type="text" ng-model="csv.custom_separator" class="form-control" placeholder="Custom"
        .col-sm-6
          br.visible-xs
          button.btn.btn-success.btn-sm ng-model="csv.name" uib-btn-checkbox='' btn-checkbox-true="1" btn-checkbox-false="0" ng-disabled="csv.type>0"
            'General line
      br
    .col-sm-6.json
      .row
        .col-sm-12
          .btn-group
            label.btn.btn-sm.btn-default ng-model="csv.type" uib-btn-radio="0" Arrays
            label.btn.btn-sm.btn-default ng-model="csv.type" uib-btn-radio="1" Hashs
            label.btn.btn-sm.btn-default ng-model="csv.type" uib-btn-radio="2" Hashs with ID
      br
      .row
        .col-sm-12
          .btn-group
            label.btn.btn-sm.btn-default ng-model="csv.view" uib-btn-radio="0" String
            label.btn.btn-sm.btn-default ng-model="csv.view" uib-btn-radio="1" Tree
            label.btn.btn-sm.btn-default ng-model="csv.view" uib-btn-radio="2" JSONP
      br
  .row
    .col-sm-6.csv
      textarea.form-control placeholder='CSV' ng-model='csv.text'
      br.visible-xs
    .col-sm-6.json
      textarea.form-control placeholder='JSON' ng-model='json'
  hr
  .row
    .col-sm-8
      h2 About
      ul
        li CSV stands for comma-separated values. CSV file stores tabular data (numbers and text) in plain text. Upload or copy/paste CSV text for start.
        li Each line of CSV file is a data record consists of one or more fields. Fields separated by commas or semicolon for russian version. You can set custom separator.
        li You can output array, hash or hash with id. If you select hash, the hash key will be the first column.
        li You can view as string, readability string or JSONP.